
<p>Gyermekek száma: <%=  %></p>

<!-- ezt kellene táblázatba foglalni -->
    <% @children.each do |child| %>
      <tr>
        <td><%= child.name %></td>
        <!-- és a többi cella -->
      </tr>
    <% end %>
