<h1>Gyermek született!</h1>
<p>Új gyermek adatait itt tudod felvenni.</p>
<form action="/children" method="post">
  <label>Neve:</label>
  <input type="text" name=child[name]><br>
  <label>Születési idő:</label>
  <input type="text" name=child[time_of_birth]><br>
  <label><td>Neme:</label>
  <select name=child[sex]>
    <option value="-" selected disabled>--Válassz!--</option>
    <option value="male"> Male</option>
    <option value="female"> Female</option>
  </select><br>
  <input type="submit" value="Mentés"><br>
</form>
<a href="/children"><-Gyerekek</a>
